DB_HOST=127.0.0.1
DB_PORT=5432
DB_USER=fscl
DB_PASSWORD=change-me
DB_NAME=change-me

NATS_HOST=127.0.0.1
NATS_PORT=4222
OUTBOX_SUBJECT_PREFIX=fscl.process
OUTBOX_BATCH_SIZE=100
OUTBOX_FALLBACK_POLL_MS=1000